@media screen and (min-width: 1700px) 
    .navigation,
    .hero__container,
    .popular__container 
        min-width: 50rem
        width: 100rem
        margin: 0 auto


@media screen and (max-width: 500px) 
    .navigation 
        padding: 1.5rem !important
    


@media  screen and (max-width: 900px) 
    .nav-linkss 
        display: none !important
    
    .hero__container__content
        &-header 
            h1
                font-size: calc(1.25rem + 1vw)
                line-height: 1.3
            p
                font-size: calc(0.5rem + 0.5vw)
                line-height: 1.4



@media screen and (min-width: 900px) 
    .small-screen-menu 
        display: none !important
    
